<li>
	{{name}}

	<button class="change-adopt" data-id="{{id}}" data-newadopt="{{adopt}}">
		{{#if adopt}}Adopted!{{else}}For adoption!{{/if}}
	</button>

	<button class="delete-dog" data-id="{{this.id}}">DELETE!</button>
</li>
